*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.search{
  background-color: blueviolet;
  padding: 10px;
  text-align: center;
}

.search input[type=text]{
  width: 80%;
  height: 40px;
  padding-left: 10px;
}

.search input[type=submit]{
  width: 80%;
  height: 40px;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 10px;
  background-color: #e7426b;
  color: white;
  border: 0;
}

.search input[type=submit]:hover{
  background-color: hsl(345, 58%, 63%);
  font-weight: bold;
}


.search h2{
  color: white;
  padding: 20px;

}

.containerCidade{
  text-align: center;
}

.containerCidade p{
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  font-weight: bold;
}